<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>diccionario1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97FE26481BFA94F900A0648A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97FE26611BFA94F900A0648A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97FE266C1BFA94F900A0648A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
